.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  text-align: center;
  font-size: 28px;
}
.notes-month section {
  font-size: 28px;
}

/* calendar event */
.month_default_event_inner {
  background: #999999;
  color: #fff;
  font-size: 12px;
  padding: 0px 10px;
  opacity: 0.8;
  border-radius: 5px;
  width: 200vh;
  /* vertical centering */
  display: flex;
  align-items: center;
}
